@font-face {
  font-family: 'Atlas Grotesk Regular';
  font-display: block; /* No longer causing FOUT */
  src: local('Atlas Grotesk Regular'), local('atlasGroteskRegular'),
  url('./atlas/regular/AtlasGrotesk-Regular-Web.eot') format('eot'),
  url('./atlas/regular/AtlasGrotesk-Regular-Web.woff') format('woff'),
  url('./atlas/regular/AtlasGrotesk-Regular-Web.woff2') format('woff2');
}
@font-face {
  font-family: 'Atlas Grotesk Bold';
  font-display: block; /* No longer causing FOUT */
  src: local('Atlas Grotesk Bold'), local('atlasGroteskBold'),
  url('./atlas/bold/AtlasGrotesk-Bold-Web.eot') format('eot'),
  url('./atlas/bold/AtlasGrotesk-Bold-Web.woff') format('woff'),
  url('./atlas/bold/AtlasGrotesk-Bold-Web.woff2') format('woff2');
}
